.menu__links {
  text-decoration: none;
  color: white;
  transition: opacity 0.3s ease;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin-right: 10px;
}

.menu__links:hover {
  opacity: 0.7;
}