.subscribe__text {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  margin-bottom: 40px;
  max-width: 700px;
}

@media screen and (max-width: 768px) {
  .subscribe__text {
    max-width: 486px;
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .subscribe__text {
    font-size: 14px;
    line-height: 20px;
    max-width: 280px;
  }
}