@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/menu/menu.css");
@import url("../blocks/menu/_hidden/menu_hidden.css");
@import url("../blocks/menu/__column/menu__column.css");
@import url("../blocks/menu/__links/menu__links.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__main-pic/header__main-pic.css");
@import url("../blocks/header/__menu/header__menu.css");
@import url("../blocks/header/__info/header__info.css");
@import url("../blocks/header/__subscribe/header__subscribe.css");
@import url("../blocks/header/__menu-pic/_type/header__menu-pic_type_close.css");
@import url("../blocks/about/about.css");
@import url("../blocks/about/__info-block/about__info-block.css");
@import url("../blocks/about/__text/about__text.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__pic/lead__pic.css");
@import url("../blocks/lead/__text/lead__text.css");
@import url("../blocks/lead/__pic/_size/lead__pic_size_big.css");
@import url("../blocks/lead//_size/lead_size_big.css");
@import url("../blocks/vision/vision.css");
@import url("../blocks/vision/__pic/vision__pic.css");
@import url("../blocks/vision/__text/vision__text.css");
@import url("../blocks/looks/__gallery/looks__gallery.css");
@import url("../blocks/looks/__gallery-item/looks__gallery-item.css");
@import url("../blocks/looks/__gallery-item/_active/looks__gallery-item_active.css");
@import url("../blocks/title/__h1/title__h1.css");
@import url("../blocks/title/__h2/title__h2.css");