.title_section {
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .title_section{
    font-size: 32px;
    line-height: 40px;
  }
}