.header__menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  z-index: 10;
}

.header__menu:hover {
  color: white; 
  opacity: 0.7;
}