.menu__column{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 80px;
  width: 480px;
  min-height: 810px;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}


@media screen and (max-width: 765px) {
  .menu__column {
    width: 100%;
  }
}